<div class="title-container">
  <div class="title">
    {{topic.fancy_title}}
  </div>
  
  <div class="user">
    {{avatar displayUser
             avatarTemplatePath="avatar_template"
             usernamePath="username"
             namePath="name"
             imageSize="small"}}
  </div>
</div>

<div class="excerpt">
  {{topic.excerpt}}
</div>