section.landing {
  .first {
    height: initial;
    margin-bottom: 0;
    border: none;

    .site-title {
      margin: 0;
      padding: 20px 10px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 30px;
    }

    .home-title {
      margin: 0 0 30px 0;
      padding: 20px 10px;
      max-width: 100%;
    }
  }

  .links {
    flex-direction: column;

    .label {
      font-size: 25px;
    }
  }
  
  .landing-block {
    width: 100%;
    max-width: 100%;
    
    .home-title {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}