section.landing {
  .first {
    height: initial;
    margin-bottom: 0;
    border: none;

    .site-title {
      margin: 0;
      padding: 20px 10px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 30px;
    }

    .home-title {
      margin: 0 0 30px 0;
      padding: 20px 10px;
      max-width: 100%;
    }
  }

  .links {
    flex-direction: column;
    margin-top: 20px;
    
    li {
      width: 100%;
      box-sizing: border-box;
    }

    .label {
      font-size: 25px;
    }
    
    .image {
      height: 150px;
    }
  }
  
  div.about-topic-list .about-topic {
    width: 100%;
  }
  
  .home-profiles {
    flex-direction: column;
    
    a.home-profile {
      width: 100%;
      box-sizing: border-box;
    }
  }
  
  .landing-block {
    width: 100%;
    max-width: 100%;
    
    .home-title {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}

.team-user-card {
  width: 100%;
  margin-bottom: 70px;
}