@import "common/components/user-card"; 

.link {
  background-image: linear-gradient(180deg,transparent 95%, $tertiary 0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: $primary;
}

.animated-link {
  background-image: linear-gradient(180deg, transparent 90%, $tertiary 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  text-decoration: none;
  color: $primary;
  transition: background-size .4s ease;

  &:hover {
    background-size: 100% 100%;
    cursor: pointer;
  }
}

.categories-and-latest div.column.categories, .categories-and-top div.column.categories {
  margin-right: 0;
}

.home-box {
  margin: 20px 0;
  padding: 20px;
  width: 27%;
  border: 1px solid $primary;
  border-radius: 4px;
  cursor: pointer;
}

.small-home-title {
  font-size: 22px;
}

section.landing {
  margin: 20px 0 80px;
  position: relative;
  font-weight: 100;

  .first {
    height: 400px;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    border: 1px solid $primary;
    overflow: scroll;
    
    > .topics-title {
      padding: 15px 10px;
      font-size: 1.7em;
      
      .badge-category-bg, .badge-category-parent-bg, .d-icon {
        display: none;
      }
    }
    
    > .site-title, > .home-title {
      border: 1px solid $primary;
      border-radius: 4px;
    }
    
    .main-link .topic-details .topic-category {
      display: none;
    }
  }

  .home-image {
    background-image: url("/plugins/discourse-pavilion/assets/background.png");
    background-size: contain;
    position: absolute;
    height: 400px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .site-title {
    font-size: 38px;
    margin: 60px 0 20px 20px;
    padding: 20px;
    background-color: white;
    display: inline-block;
  }

  .home-title {
    font-size: 28px;
    max-width: 60%;
    margin: 20px 0;
    background-color: white;

    a {
      @extend .link;
    }
  }

  .first .home-title {
    padding: 20px;
    margin-left: 20px;
  }

  .home-profiles {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    padding-top: 50px;
  }

  .landing-block {
    margin-bottom: 30px;
  }

  .links {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

    li {
      @extend .home-box;
      text-align: center;
    }

    a {
      display: flex;
      flex-direction: column;
      color: $primary;
    }

    .image {
      margin: 0 auto 20px auto;
      height: 200px;
      width: 100px;
      object-fit: contain;
    }

    .label {
      @extend .small-home-title;
      width: 100%;
      text-align: center;
    }
  }
  
  .about-topic-list {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    
    .about-topic {
      @extend .home-box;
      
      .title-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        
        .title {
          @extend .small-home-title;
        }
        
        .user {
          margin-left: 5px;
        }
      }
    }
  }
}

.list-vote-count {
  margin-top: 2.5px;
  margin-left: 2px;
}

.team-user-card {
  width: 48%;
  
  &> div {
    @extend #user-card;
    width: 100%;
    box-shadow: none;
    border: 1px solid $primary;
    border-radius: 4px;
    
    .card-content {
      border-radius: 4px;
    }
  }
}